.color1{background:red;}
.color2{background:green;}
.color3{background:blue;}
.color4{background:black;}
.color5{background:purple;}
.color6{background:orange;}
.staticheight{
	height:1712px;
}
.staticheight{
	height:1598px;
}
.staticheight2{
	height:1481px;
}
.clear_fix{
	clear:both;
	float:none;
}

.nopadding{
	padding:0;
}
.nomargin {
	margin:0;
}
.color{
	background:#f8f8f8;
}
.container_header{
	width:100%;
	height:7.99vw;
	border-bottom-style:solid;
	border-bottom-width:thin;
	border-bottom-color:#d8d8d8;
}
.container_header h1{
	text-align:center;
	font-size:3vw;
	text-transform:uppercase;
}
.mainContainer{
	width:100%;
}
.search_container{
	display:block;
	width:100%;
	height:8vw;
	background:#ffffff;
	margin:0;
	padding-top:30px;
	padding-right:50px;
	padding-left:50px;
	padding-bottom:30px;	
}
.search_result_container{
	background:#f8f8f8;
}
.search_result{
	display:inline-block;
	float:left;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	color:#0e2d6e;
	padding-top:4.75%;
	margin-left:6.95%;
}
.search_name{
	display:inline-block;
	float:left;
	color:#f78164;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	padding-top:4.75%;
	margin-left:2px;	
}
.fa-times-circle{
	font-size:20px;
	margin-left:14px;
	color:#d8d8d8;

}
.close_ico{
	display:block;
	float:right;
	margin-left:14px;
	border-radius:100%;
	width:18px;
	height:18px;
	background-position:center;
	background:#707070;
	
}
.result_box{
	display:block;
	width:86.13%;
	margin-left:auto;
	margin-right:auto;
	margin-top:4.87%;
	background:#ffffff;
	border-radius:5px;
	padding-bottom:15.8vw;
	transition:1s;
	border-color:#ffffff;
	border-style:solid;
	border-weight:2px;
}
.result_box:hover{
	transition:1s;
	border-color:#239dd3;
	border-style:solid;
	border-weight:2px;
}

.logo{
	display:block;
	float:left;
	background:#ffffff;
	width:24.8%;
	height:10.43vw;
	margin-left:1.8%;
	margin-top:3.4%;
	border-style:solid;
	border-color:#e7e7e7;
	border-width:thin;
	border-radius:5px;
}
.logo img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:15%;
}
.box_information{
	display:block;
	float:left;
	width:70%;
	margin-left:3.4%;
}
.name {
  font-family: ProximaSoft;
  font-size:1.25vw;
  font-weight:600;
  font-style:normal;
  font-stretch:normal;
  line-height:1.44;
  letter-spacing:normal;
  color:#26427d;
  margin-top:5.8%;
}
.type, .city{
	display:none;
}
.adress, .phone_number, .website_adress{
  font-family: HKGrotesk;
  font-size: 1.1vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
  margin-top:2.54%;
}
.phone_number a, .website_adress a{
	text-decoration:none;
	color:#2d2d2d;
	font-family: HKGrotesk;
	font-size: 1.1vw;	
	background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: 1s;
}
.phone_number a:hover, .website_adress a:hover{
	color:#239dd3;
	background-size: 100% .1em;
} 
.ico{
	color:#239dd3;
	padding-right:3.5%;
}
.stars{
	display:block;
	width:70%;
	margin-top:4%;
}
.fa-star, .fa-star-half-alt{
	color:#ecad3d;
	margin-right:2%;
}
.special_box_container {
	display:block;
	width:90%;
	height:17.4vw;
	margin-left:6.95%;
	margin-top:2.8%;
}
.special_box{
	display:block;
	float:left;
	width:46.3%;
	height:17.4vw;
	border-radius:3px;
	background:#d8d8d8;
	font-family: Poppins;
	font-size:16px;
	font-weight:500;
	text-align:center;
	color:#787993;
	padding-top:14%;
	margin-right:20px;	
}
.next_result_number{
	display:block;
	width:52%;
	height:3.13vw;
	margin-left:auto;
	margin-right:auto;
	margin-top:8.34%;
	margin-bottom:60px;
}
.prev_site, .site_box_number, .next_site{
	display:block;
	float:left;
	width:45px;
	height:45px;
	font-size:16px;
	font-weight:700;
	text-align:center;
	color:#707070;
	font-family:HKGrotesk;	
	background:#ffffff;
	margin-right:4px;
	padding-top:2.5%;
	transition:1s;
}
.prev_site:hover, .site_box_number:hover, .next_site:hover{
	background:#f78164;
	color:#ffffff;
	transition:1s;
}
.active_select{
	background:#303545;
	color:#ffffff;
}
footer{
	display:block;
	width:620px;
	margin-left:auto;
	margin-right:auto;
	border-top-style:solid;
	border-top-color:#dcdcdc;
	border-top-width:1px;
	font-family:HKGrotesk;
	font-weight:500;
	font-size:16px;
	color:#505050;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	
	
}
#mapid{
	height:2290px;
}
.leaflet-popup-content img{
	border-style:solid;
	border-width:thin;
	border-color:#dfdfdf;
	border-radius:5px;
	width:150px;
	height:150px;
	padding-left:25px;
	padding-right:25px;
	padding-top:18.8px;
	padding-bottom:18.8px;
	
}
.leaflet-popup-content topic{
	display:block;
	height:82px;
	font-size:18px;
	font-weight:600;
	color:#0e2d6e;
	margin-top:20px;

}
.leaflet-popup-content type{
	font-size:12px;
	font-family:HKGrotesk;
	color:#7d7d7d;
	font-weight:700;
	margin-right:10px;
	text-transform:uppercase;
}
.circle {
	display:block;
	position:absolute;
	top:271px;
	left:105px;
	width:5px;
	height:5px;
	background:#219cd2;
	border-radius:50%;
	float:left;
}
.leaflet-popup-content city{
	font-size:12px;
	font-family:HKGrotesk;
	color:#7d7d7d;
	float:right;
	font-weight:700;
	margin-right:114px;
	text-transform:uppercase;
}
.stars_map{
	position:absolute;
	display:block;
	width:150px;
	height:14px;
	top:300px;		
}
