nav, header {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
nav a, header a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    color: #fff;
}
header {
    height: calc(460px + 25vw);
    padding-top: 20px;
    background-image: url('../../img/dummy-683x1024-Cat.jpg');
    background-size: 100%;
    background-position-y: calc(-3px - 2vw);
}
#menu {
    display: none;
}
.left_flex {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}
.logo_circle {
    width: calc(27px + 1.5vw);
    height: calc(27px + 1.5vw);
    background-color: #ecad3d;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 15px;
    left: calc(7px + 1vw);
}
.logo_text {
    font-family: 'Poppins', sans-serif;
    font-size: calc(13px + 1vw);
    display: inline-block;
    position: relative;
    top: calc(5px - 0.33vw);
    left: calc(8px + 1.8vw);
}
.account_img {
    width: calc(30px + 1vw);
    position: relative;
    top: -2px;
}
.account_text {
    display: inline-block;
}
.add_company {
    padding: 0 calc(7px + 1vw);
    height: calc(27px + 1.5vw);
    position: absolute;
    top: 15px;
    right: calc(48.5px + 3.5vw);
    font-size: calc(10px + 1vw);
    font-weight: 700;
    text-align: center;
    background-color: #f78164;
    color: #fff;
    border-radius: 3px;
    display: table;
}
.add_company a {
    display: table-cell;
    vertical-align: middle;
}
.head_container p {
    text-align: center;
    color: #fff
}
.head_title {
    margin-top: calc(45px + 8vw);
    font-size: calc(24px + 3vw);
    font-weight: 700;
}
.head_descr {
    margin-top: calc(35px + 2vw);
    font-size: calc(17px + 1vw);
    font-weight: 400;
}

@media only screen and (min-width: 997px) {
    #menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .right_flex, .left_flex {
        display: flex;
        position: unset;
        align-items: baseline;
        border: 1px solid red;
    }
    .left_flex {
        align-content: center
    }
    .main_flex {
        display: flex;
        align-items: baseline;
        position: absolute;
        top: 17px;
        left: 0;
        width: 98%;
        margin-left: 1%;
        justify-content: space-between;
    }
    .main_flex p {
        padding: 0;
        margin: 0;
    }
    .logo_circle {
        width: 40px;
        height: 40px;
        position: unset;
    }
    .logo_text {
        font-size: 20px;
        position: unset;
        margin-left: 60px;
    }
    .add_company {
        position: unset;
        display: flex;
        font-size: 16px;
        height: calc(30px + 1vw);
        padding: calc(3px + 0.5vw) calc(15px + 0.5vw);
    }
    #menu li {
        text-align: center;
        font-size: 18px;
        border: 1px solid yellow;
    }
    .account_img {
        width: 30px;
    }
    .margin_right_li {
        margin-right: 18px;
    }
    .contact_li {
        padding-right: 14px;
        position: relative;
    }
    .contact_li::after {
        display: inline-block;
        content: '';
        height: 31px;
        border-right: 1px solid #d8d8d8;
        position: absolute;
        top: 1px;
        right: -1px;
    }
    .account_li {
        margin: 0 14px;
    }
    header {
        height: calc(830px + 3vw);
        background-image: url('../../img/dummy-2160x2880-Cat.jpg');
        background-size: 100%;
    }
    .line_break {
        display: none;
    }
    .head_title {
        margin-top: calc(260px + 2vw);
        font-size: 44px;
    }
    .head_descr {
        font-size: 22px;
    }
}
